<html>
<head>
    <meta charset="utf-8" />
    <title>{{profile.name}} disconnected</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
</head>
<body>
    <p>You have been successfully disconnected and can now close this page</p>
</body>
</html>